<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="Scripts/jquery-1.6.4.min.js"></script>
    <script src="Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="signalr/hubs"></script>

    <script src="Scripts/vue.min.js"></script>

    <div id="app">
        <input placeholder="room" v-model="room" />
        <input placeholder="userName" v-model="userName" />
        <input placeholder="message" v-model="message" />
        <input placeholder="roomName" v-model="roomName" />

        <button v-on:click="sendMessage">send</button>
        <button v-on:click="joinRoom">joinRoom</button>
        <button v-on:click="leaveRoom">leaveRoom</button>
        <div id="container" v-for="m in messages">{{m.userName}} ：{{m.message}}</div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                userName: '',
                message: '',
                room: '',
                roomName:'',
                messages: [
                    { userName: 'Jeff', message: 'Hi' },
                    { userName: 'Ricky', message: '123' }
                ],
                chatHubProxy: {},
            },
            methods: {
                // 接收伺服器端回傳的訊息，並做處理
                insert: function (userName, message) {
                    this.messages.push({ userName: userName, message: message });
                },
                // 傳送訊息到伺服器端
                sendMessage: function () {
                    if (this.roomName === '') {
                        // 全體聊天
                        this.chatHubProxy.server.sendMessage(this.userName, this.message);
                    } else {
                        // 群聊
                        this.chatHubProxy.server.sendMessageToRoom(this.userName, this.message, this.roomName);
                    }
                },
                // 加入房間
                joinRoom: function () {
                    console.log(this.chatHubProxy);
                    this.chatHubProxy.server.joinRoom(this.roomName);
                    console.log(2);
                },
                // 離開房間
                leaveRoom: function () {
                    this.chatHubProxy.server.leaveRoom(this.roomName);
                }
            },
            created() {
                this.chatHubProxy = $.connection.chat;
                // 註冊發送訊息後，JS的接收事件
                this.chatHubProxy.client.recievMessage = this.insert;
                // 與伺服器連接
                $.connection.hub.start().done(this.done);
            }
        })
    </script>
</body>
</html>